<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

        <title>Amma's Boy</title>
        
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

        <!-- Bootstrap core CSS -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <!-- Custom styles for this template -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ammasboy.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/map.css') }}">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1> Amma's Boy </h1>
                    <h2> My route around India. </h2>
                    <br>
                    <div id="reload">Please refresh the page if it does not load</div>
                    <hr>
                    <div id="tweets" style="overflow:auto"></div>
                </div>
                <div class="col-md-8" id="map-canvas">
                </div>
            </div>
        </div> <!-- /container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}">

        <script src="{{ url_for('static', filename='js/ammasboy.js')}}"> </script>
        <script src="{{ url_for('static', filename='js/map.js')}}"> </script>
        <script src="{{ url_for('static', filename='js/tweets.js')}}"> </script>
        <script src="{{ url_for('static', filename='js/route.js')}}"> </script>
        <script src="{{ url_for('static', filename='js/distance.js')}}"> </script>
        <script src="{{ url_for('static', filename='js/underscore-min.js')}}"> </script>
    </body>
</html>
