<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

        <title>Amma's Boy</title>

        {% block header %}
        {% endblock %}

        <!-- Bootstrap core CSS -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <!-- Custom styles for this template -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ammasboy.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/map.css') }}">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../map">Amma's Boy</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li id="map"><a href="../map">Map</a></li>
                        <li id="cal"><a href="../cal">Calendar</a></li>
                        <li><a href="http://www.tejovanthn.com">Blog</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">
            <div class="starter-template">
                <div class="row">
                    <div class="col-md-4">
                        <h2> My route around India. </h2>
                        <br>
                        <div id="reload">Please refresh the page if it does not load</div>
                        <hr>
                        <div id="tweets" style="overflow:auto"></div>
                        <p> Last updated on: {{ update }}
                    </div>
                    <div class="col-md-8" id="content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div> <!-- /container -->

        <div class="footer">
            <div class="container">
                <p class="text-muted"> iNeedBlood - v{{g.version}} | Rendered in {{g.request_time()}} | {{g.city}}</p>
            </div>
        </div>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        {% block scripts %}
        {% endblock %}

        <script src="{{ url_for('static', filename='js/ammasboy.js')}}"> </script>
        <script src="{{ url_for('static', filename='js/tweets.js')}}"> </script>
        <script src="{{ url_for('static', filename='js/route.js')}}"> </script>
        <script src="{{ url_for('static', filename='js/distance.js')}}"> </script>
        <script src="{{ url_for('static', filename='js/underscore-min.js')}}"> </script>
    </body>
</html>
